/* CSS Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Generali*/
.body{
    font-family:Arial, Helvetica, sans-serif;
}

a{
    color:white;
    text-decoration: none;
}

h2{
    font-size:2rem;
    margin-bottom: 20px;
}

i{
    color:white;
    
}
/*utilities*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.border{
    border:2px dashed black;
}

.radius{
    border-radius: 20px;
}

.button-white{
    color:black;
    background-color: white;
    padding: 10px 15px;
}

.button-black{
    color:white;
    background-color: black;
    padding: 10px 15px;
}

.button-blu{
    color:white;
    background-color:dodgerblue;
    padding: 10px 15px;
}

/*Header*/

header{
    background-image: url(../img/img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container_jumbotron{
    background-size: 100%;
    background-repeat: no-repeat;
    min-height:400px;
}

.navigation_bar{
    min-height: 80px;
    display:flex;
    flex-direction: row;
    margin:0 20%;
    max-width: 80%;
    align-items: center;
}

.navigation_bar > *{
    flex-basis: 20%;
    height: 40px;
    padding: 10px 0;
    
}

.nav_menu{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;


}

.nav_button{
    text-align: right;
}


.jumbotron{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin:0 10%;
    justify-content: center;
    padding: 25px;
}

.jumbotron_element{
    min-height: 350px;
    width: 50%;
    
}

.jumbotron_element >h1 {
    color:white;
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
}


.jumbotron_element >p {
    color:white;
    text-align: center;
    font-size: 0.94rem;
}

.download-apertura-discord{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap:30px;

}

/*main*/

.container_bianco{
    min-height: 700px;
    padding: 60px 0;

}

.box_bianco{
    margin:0 20%;
    max-width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
}

.container_grigio{
    background-color: lightgrey;
    min-height: 700px;
    padding: 60px 0;
}

.box_grigio{
    margin:0 20%;
    max-width: 80%;
    padding: 40px 0;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;

}


    
.pannello_arancione{
    background-color: orange;
    border: 1px solid black;
    min-height: 500px;
    width: 60%;
}

.pannello_verde{
    background-color: green;
    border: 1px solid black;
    min-height: 500px;
    width: 40%;
    
}

.box_grigio_grande{
    margin:0 20%;
    max-width: 80%;
    padding: 40px 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.pannello_viola{
    background-color:violet;
    border: 1px solid black;
    min-height: 500px;
    width: 100%;
    
}

.download-discord{
    text-align: center;
    background-image: url(../img/img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    line-height: 2.5;
}

/*footer*/

.container_footer_top{
    background-color:rgb(32, 32, 32); 
    min-height: 500px;
    padding: 60px 0;
}

.lista_footer{
    margin:0 20%;
    max-width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.li_blu{
    min-height: 400px;
    width: 40%;
}

select{
    color:white;
    background-color:rgb(32, 32, 32) ;
    border-style: none;
}

.li_red {
    flex-flow: column;
    flex-wrap: wrap;
    gap:10px;
    width:15%;
    
}
   





.container_footer_top h3{
    color:dodgerblue;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.container_footer_top h4{
    color:dodgerblue;
}

.container_footer_top a{
    display: inline-block;
    
}

.scelta-lingua{
    margin-bottom: 30px; 
}

.partner{
    gap:20px;
}

.container_footer_bot{
    background-color:rgb(32, 32, 32);
    min-height: 90px;
    border-top: 1px solid rgb(155, 146, 146);
    padding: 30px 0;
}

.conclusione_pagina{
    margin:0 20%;
    max-width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.interazione{
    min-height: 30px;
    width: 10%;
    margin: 20px 0; 
}
